:root {
    --light-gray: #C7C7C7;
    --very-light-gray:#EEEEEE;
    --text-input-field: #F7F7F7;
    --light-blue: #32a7af;
    --vivid-green: #d0e74b;
    --dark-blue: #0c3948;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #2b2b2b;
    --principal-font: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    --secondary-font: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--principal-font);
    font-size: var(--sm);
    font-weight: 300;
}